body {
    color: black;
}

.container {
    margin-top: 50px;
}

#head{
    border: 10px double rosybrown;
    font-family: 'Brush Script MT', cursive;
    color:darkred;
    font-size: 9vw
}

.ingr{
    font-weight: lighter;
}

#desc{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw
}

#meowchelin{
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;
    font-size: 3vw
}